body{
    background-color: black;
    color: cyan;
    text-shadow: 8px 8px 5px cyan;
}
button{
    height: 27px;
    width: 100px;
    background-color: black;
    color: cyan;
    border-style: solid;
    border-width: 1px;
    text-shadow: 8px 8px 5px cyan;
}
#atag{
    margin-top: 30%;
    align-self: bottom left;
}
#atag5{
    color :cyan;
    cursor:pointer;
}
#sbtn{
    width: 150px;
}
input{
    height: 22px;
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    
}
